<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834291046258-97m4fil2j47gjjntr6m1jtrsmqa1aba6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834291046258-97m4fil2j47gjjntr6m1jtrsmqa1aba6</string>
	<key>API_KEY</key>
	<string>AIzaSyAdZ5YPwam-zkeN3O8Munz0HaXX5c3PY7c</string>
	<key>GCM_SENDER_ID</key>
	<string>834291046258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.iosApp</string>
	<key>PROJECT_ID</key>
	<string>iosapp-1f988</string>
	<key>STORAGE_BUCKET</key>
	<string>iosapp-1f988.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834291046258:ios:f67f641ae7ae92562e2feb</string>
</dict>
</plist>